@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");

:root {
  --black: #1d1d1d;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 10px;
  background: url(../assets/2dogs-reduced.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  background-image: url(../assets/2dogs-reduced.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hello-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.7);
  padding: 3rem;
  border-radius: 0.3rem;
  user-select: none;
}

h1 {
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
}

a {
  outline: none;
  text-decoration: none;
}

button.begin-button {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: #777777;
  font-size: 1.4rem;
  font-weight: 150;
  color: #eeeeee;
  border: 0.3rem solid rgba(0, 0, 0, 0.03);
  border-radius: 0.3rem;
  text-transform: lowercase;
  cursor: pointer;
}

button.begin-button:focus {
  outline: none;
}
